body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  background: #1f1d36;
}
img {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 30px;
}
#container {
  padding: 20px;
  margin: 0 auto;
}
h1 {
  font-size: 30px;
  width: 450px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  color: white;
}
p {
  font-size: 20px;
  width: 400px;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 30px;
  color: white;
}

button {
  width: 350px;
  height: 100px;
  border: none;
  font-size: 24px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  background-color: #aa14f0;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

#color-button {
  margin-bottom: 25px;
}
