body {
  font-family: Helvetica;
}

header {
  font-size: 60px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
}

.topic {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brush .topic {
  background-color: mediumspringgreen;
}

#frame .topic {
  background-color: lightcoral;
}

#paint .topic {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
