body {
  font-family: monospace;
}

header {
  text-align: center;
}

header p {
  font-size: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: lightblue;
  font-size: 20px;
}

td,
th {
  border: 1px solid darkgrey;
  padding: 20px;
}

td:nth-child(odd) {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

tr:hover {
  background-color: azure;
}
