body {
  font-family: monospace;
  background-color: #212121;
  color: #d9cab3;
}

header {
  text-align: center;
}

header p {
  font-size: 20px;
}

header h1 {
  font-size: 30px;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
  background-color: #c64756;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

td,
th {
  border: 2px solid #f6f6f6;
  padding: 20px;
}

td:nth-child(odd) {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

tbody tr:hover {
  background-color: #d9cab3;
  font-size: 18px;
  color: black;
}
